@import "common/colors.scss";

html, .html {
  overflow: hidden;
  background: $dark-bg;
  height: 100%;
  font-weight: 300;
  scrollbar-face-color: mix($gray-bg, white, 50%);
  scrollbar-track-color: transparent;

  ::-webkit-scrollbar {
    width: 19px;
    height: 19px;
  }

  ::-webkit-scrollbar-thumb {
    background: mix($gray-bg, white, 50%);
    border-left: 2px solid #f8f8f8;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}